* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  body {
    background: #202632;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.root {
  .attribution {
    width: 490px;
    height: 300px;
    background: #313a49;
    margin: 0 auto;
    border-radius: 20px;
    .for-p {
      display: flex;
      gap: 9px;
      justify-content: center;
      padding-top: 30px;
      font-size: 16px;
      p {
        color: hsl(150, 100%, 66%);
        font-family: "Manrope", sans-serif;
      }
    }
    h4 {
      font-size: 28px;
      color: hsl(193, 38%, 86%);
      font-family: "Manrope", sans-serif;
      margin: 0 auto;
      padding-top: 30px;
      height: 146px;
    }

    .for-img-line {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
    }
    .for-icon-dice {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 30px;
      position: relative;
      .dice {
        background-color: hsl(150, 100%, 66%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        :hover{
            box-shadow: 0 0 50px #97f3c6;
        }
      }
    }
  }
}
